:root {
  --main-background: rgba(25, 4, 34, 1);
  --secondary-background: rgba(255, 255, 255, 1);
  --main-color-text: rgba(255, 255, 255, 1);
  --secondary-color-text: rgba(31, 38, 46, 1);
  --button-background-color: #d0b3f5;
  --button-hover-background-color: #af7af3;
  --logo-span-color: rgba(188, 138, 252, 1);

  --logo-font-size: 64px;
  --button-font-size: 22px;
  --h1-font-style: 600 80px "poppins";
  --h3-font-style: 600 48px "poppins";
  --p-font-style: 400 20px "poppins";
}

* {
  margin: 0px;
  padding: 0px;
}

body {
}

header {
  padding: 17px 80px 0px 80px;
  background-color: var(--main-background);
  & .right_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 75px;
  }
}

header .header_container {
  margin: auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & a {
    text-decoration: none;
  }
  & h2 {
    max-width: 167px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: var(--logo-font-size);
    color: var(--main-color-text);
  }

  & h2 span {
    font-family: "Poppins";
    font-weight: 600;
    font-size: var(--logo-font-size);
    color: var(--logo-span-color);
  }

  & .p_container {
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .p_container p a {
    position: relative;
    color: var(--main-color-text);
    font: var(--p-font-style);
    text-decoration: none;
    &:hover::after {
      content: "";
      top: 24px;
      left: 0px;
      width: 100%;
      height: 1px;
      position: absolute;
      background-color: white;
    }
  }

  & button {
    padding: 12px 32px 13px 25px;
    background-color: var(--button-background-color);
    box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 7px;
    outline: none;

    font-family: "Poppins";
    font-weight: 500;
    font-size: var(--button-font-size);
    color: rgba(0, 0, 0, 1);
    &:hover {
      background-color: var(--button-hover-background-color);
    }
  }
}

header .header_container .burger {
  display: none;
}
/* main  */

main article .first_section .main_container {
  padding: 84px 0px 196px;
  position: relative;
  margin: auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 96px;
}

main article .first_section {
  padding: 0px 80px;
  background-color: var(--main-background);
  & .first_container {
    max-width: 631px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
  }

  & .first_container h1 {
    font: var(--h1-font-style);
    color: var(--main-color-text);
  }

  & .first_container p {
    font: var(--p-font-style);
    line-height: 158%;
    color: var(--main-color-text);
  }
}

main article .first_section button {
  position: relative;
  padding: 12px 61px 13px 25px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: var(--button-font-size);
  color: rgba(0, 0, 0, 1);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 7px;
  &:hover {
    background-color: var(--button-hover-background-color);
  }
}

main article .first_section .main_container .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 96px;

  & .first_image {
    width: 100%;
  }

  & .first_image img {
    width: 100%;
    height: 100%;
  }
}

main article .first_section button::after {
  /* position: absolute; */
  position: relative;
  top: 3px;
  left: 9.5px;
  content: url(./svg/Vector.svg);
  background-repeat: no-repeat;
}

main article .first_section .container_statistic {
  bottom: -80px;
  position: absolute;
  width: 100%;
}

main article .first_section .container_statistic .statistic {
  max-width: 1280px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 16px;
  padding: 50px 110px;
  margin: auto;
  background-color: var(--secondary-background);
  display: flex;
  align-items: center;
  justify-content: space-between;

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & h3 {
    font: var(--h3-font-style);
    color: var(--secondary-color-text);
  }
  & p {
    font: var(--p-font-style);
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--secondary-color-text);
  }
}

/* вторая секция */

main article .second_section {
  margin: 258px 0px 0px;
  width: 100%;
  background-color: var(--secondary-background);

  & .second_container {
    padding: 0px 97px 107px 147px;
    margin: auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
  }
}

main article .second_section .second_container .second_image_left img {
    width: 100%;
    max-height: 610px;
  }

main article .second_section .second_container .second_p_container {
  max-width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  & h3 {
    font: var(--h3-font-style);
    line-height: 123%;
    color: rgba(0, 0, 0, 1);
  }
  & p {
    font: var(--p-font-style);
    line-height: 158%;
    color: rgba(0, 0, 0, 1);
  }
  & button {
    position: relative;
    padding: 12px 61px 13px 25px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: var(--button-font-size);
    color: rgba(0, 0, 0, 1);
    background-color: var(--button-background-color);
    border: none;
    border-radius: 7px;
    &:hover {
      background-color: var(--button-hover-background-color);
    }
  }
  & button::after {
    /* position: absolute; */
    position: relative;
    top: 3px;
    left: 9.5px;
    content: url(./svg/Vector.svg);
    background-repeat: no-repeat;
  }
}

/* третья секция */

main article .third_section {
  margin-top: 81px;
  padding: 0px 80px 216px 80px;
  display: grid;
  grid-auto-columns: minmax(auto, auto);
  grid-auto-rows: minmax(76px, auto);
  grid-gap: 40px;
  justify-content: center;
  & h3 {
    font: var(--h3-font-style);
    line-height: 158%;
    color: rgba(0, 0, 0, 1);
  }
  & .third_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, auto));
    grid-auto-rows: minmax(302px, auto);
    row-gap: 40px;
    column-gap: 173px;
  }
}

main article .third_section .third_container .first_grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  & .first_image_grid {
    background-image: url(./svg/icon_1.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-size: cover;
  }
  & .second_image_grid {
    background-image: url(./svg/icon_2.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-size: cover;
  }
  & .third_image_grid {
    background-image: url(./svg/icon_3.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-size: cover;
  }
  & .four_image_grid {
    background-image: url(./svg/icon_4.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-size: cover;
  }
  & .p_1 {
    margin-top: 36px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    line-height: 158%;
    color: var(--secondary-color-text);
  }
  & .p_2 {
    font: var(--p-font-style);
    line-height: 158%;
    color: rgba(0, 0, 0, 1);
    margin-top: 12px;
  }

  main article .third_section {
    padding: 0px 40px;
  }
}

/* footer  */

footer {
  width: 100%;
  background-color: var(--main-background);
}

footer .footer_container {
  max-width: 1280px;
  margin: auto;
  padding: 72px 80px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  & a {
    text-decoration: none;
  }
  & h2 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: var(--logo-font-size);
    color: var(--main-color-text);
  }
  & h2 span {
    font-family: "Poppins";
    font-weight: 600;
    font-size: var(--logo-font-size);
    color: var(--logo-span-color);
  }
}

footer .footer_container .footer_p {
  display: flex;
  align-items: flex-start;
  gap: 33px;
  justify-content: space-between;
  max-width: 592px;
  margin-top: 26px;
  & p {
    position: relative;
    color: var(--main-color-text);
    font: var(--p-font-style);
    &:hover::after {
      content: "";
      width: 100%;
      height: 1px;
      top: 24px;
      left: 0px;
      position: absolute;
      background-color: white;
    }
  }
}

footer .footer_container .footer_image {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
  margin-top: 41px;
  max-width: 196px;
  & :nth-child(1) {
    background-image: url(./svg/inst.png);
    width: 32px;
    height: 37px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &:hover {
      top: 0px;
      left: 0px;
      width: 32px;
      height: 37px;
      position: relative;
      background-size: 110%;
    }
  }
  & :nth-child(2) {
    background-image: url(./svg/face.png);
    width: 32px;
    height: 37px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &:hover {
      top: 0px;
      left: 0px;
      width: 32px;
      height: 37px;
      position: relative;
      background-size: 110%;
    }
  }
  & :nth-child(3) {
    background-image: url(./svg/x.png);
    width: 32px;
    height: 37px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &:hover {
      top: 0px;
      left: 0px;
      width: 32px;
      height: 37px;
      position: relative;
      background-size: 110%;
    }
  }
  & :nth-child(4) {
    background-image: url(./svg/lin.png);
    width: 32px;
    height: 37px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &:hover {
      top: 0px;
      left: 0px;
      width: 32px;
      height: 37px;
      position: relative;
      background-size: 110%;
    }
  }
}

@media (max-width: 1200px) {
  header {
    padding: 17px 40px 0px 40px;
  }

  main article .first_section {
    padding: 0px 40px;
  }

  header .header_container button {
    display: none;
  }

  header .header_container .p_container {
    display: none;
  }

  main article .first_section .main_container .container {
    flex-direction: column;
  }

  header .header_container .burger {
    display: block;
  }

  main article .first_section .main_container .first_image img {
    max-width: 631px;
  }

  main article .first_section .first_container {
    /* max-width: 100%; */
    align-items: center;
    text-align: center;
    display: flex;
  }

  main article .second_section .second_container {
    /* gap: 70px; */
    padding: 0px 40px 0px 40px;
  }
}

@media (max-width: 1050px) {
  main article .second_section .second_container {
    flex-direction: column;
  }

  main article .second_section {
    margin: 184px 0px 0px;
  }

  main article .third_section {
    padding: 40px 40px 123px 40px;
    margin-top: 40px;
  }

  /* main article .first_section .statistic { 
    flex-direction: column;
    gap: 32px;
  } */
}

@media (max-width: 800px) {

  main article .first_section .container_statistic .statistic { 
    padding: 50px 0px;
  }

  main article .first_section .main_container {
    padding: 84px 0px 196px;
  }

  main article .first_section .container_statistic {
    bottom: -300px;
  }

  main article .first_section .statistic {
    flex-direction: column;
    padding: 32px 70px;
    gap: 32px;
  }

  main article .second_section {
    margin-top: 360px;
  }

  main article .second_section .second_container {
    padding: 0px 17px 76px 17px;
    gap: 55px;
  }

  main article .first_section {
    padding: 0px 17px;
  }

  header {
    padding: 17px 17px 0px;
  }

  main article .first_section .first_container {
    align-items: flex-start;
    text-align: left;
  }

  main article .first_section .first_container h1 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;

    line-height: 120%;
    color: var(--main-color-text);
  }

  main article .first_section .first_container p {
    font: var(--p-font-style);
    line-height: 158%;
    color: var(--main-color-text);
  }

  main article .second_section .second_container .second_p_container h3 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;

    line-height: 123%;
    color: rgba(0, 0, 0, 1);
  }

  main article .second_section .second_container .second_p_container p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;
    line-height: 158%;
    color: rgba(0, 0, 0, 1);
  }

  main article .third_section {
    padding: 32px 17px;
    margin-top: 0px;
  }

  footer .footer_container .footer_p {
    flex-direction: column;
  }

  footer .footer_container {
    padding: 32px 17px;
  }
}

@media (max-width: 500px) {
  main article .first_section .first_container p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;
    line-height: 158%;
    color: rgba(255, 255, 255, 1);
  }

  main article .second_section .second_container .second_p_container p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
  }

  main article .second_section .second_container .second_p_container h3 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 32px;
    line-height: 123%;
    color: rgba(0, 0, 0, 1);
  }
  main article .first_section .main_container .first_image {
    display: none;
  }

  main article .first_section .main_container {
    padding: 65px 0px 204px;
  }
  main article .third_section {
    padding: 32px 17px;
  }

  main article .first_section .container_statistic {
    bottom: -330px;
  }
}
